@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    color: #ffffff;
}

html , body{
    background-color: #000000;
}

#taskList::-webkit-scrollbar{
    display: none;
}

#DashboardAssignedTaskbg::-webkit-scrollbar{
    display: none;
}

#AdminDashboardTasksdiv::-webkit-scrollbar{
    display: none;
}